
@import "variables.scss";


#docs > .header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3em;
  padding-bottom: 3em;
  background: #455055;

  .header {

    width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .title {
      font-family: AvenirNextLTPro-Heavy;
      font-size: 3em;
      color: #DFDFDF;
      margin-right: 30px;
      width: 370px;
    }

    .summary {
      font-size: 1em;
      color: #E3E3E3;
      line-height: 1.7em;
      font-family: AvenirNextLTPro-Regular;
      width: 700px;

      a {
        // padding: 3px 6px 3px 6px;
        // color: #A5D9FF;
        // background: #3C464A;
        color: #8bbbc9;
        font-weight: 700;
      }

      a:hover {
        text-decoration: underline;
        cursor: pointer;
      }
      
    }

  }
}

#docs > .docs-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F2F2F2;
}


#docs > .docs-content > .section {

  width: 1200px;

  .header {
    font-size: 1.6em;
    color: #222222;
    margin-top: 2em;
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  // .grid {
  //   display: flex;
  //   flex-direction: row;
  // //  margin-right: -20px;
  //   justify-content: space-between;
  //   flex-flow: row wrap;
  // }
  //


  .row {
    display: flex;
  }


  .schema {
   // margin-right: 20px;
    width: 280px;
    background: #FBFBFB;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 2px;
    border: 1px solid #E2E2E2;
    margin-top: 1.6em;
    padding-top: 15px;

    .title {
      font-size: 1.1em;
      margin-bottom: 1em;
      font-weight: 700;
      color: #494949;
      // color: #9e3535;
      //background: #676767;
      display: inline-block;
      // padding-right: 0.4em;
      // padding-left: 0.4em;
      // padding-top: 0.6em;
      // padding-bottom: 0.3em;
      // border-radius: 0.7em;
      padding-left: 1em;
      padding-right: 1em;
    }


    .description {
      margin-bottom: 1em;
      color: #585858;
      line-height: 1.2em;
      padding-left: 1em;
      padding-right: 1em;
      font-size: 0.9em;
    }

    .buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding-bottom: 1em;
      padding-top: 1em;
      border-top: 1px solid #EAEAEA;
    }

    a.button {
      background: #FEFEFE;
      color: #222;
      font-size: 0.9em;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      padding: 4px 5px 4px 4px;

      svg {
        width: 2em;
        height: 2em;
        margin-right: 0.3em;
      }
    }

    a.button.html {
      background: #EAEAEA;
      border-radius: 5px;
    }

    a.button:hover {
      cursor: pointer;
      color: #35729E;

      path {
        fill: #35729E;
      }
    }
  }

  // .schema:not(:last-child) {
  //     margin-right: 42px;
  // }
}
