
@import "variables.scss";

.latest-article-summary-container {
  display: flex;
  padding-top: 2em;
}

.latest-article-summary-sidebar {
  padding-left: 30px;
  width: 190px;

  .section-label {
    font-weight: 600;
    color: #414141;
  }
}


.latest-article-summary {
  width: 760px;
  font-size: 97%;
  background: #FFFFFF;
  border-left: 1px solid #EAEAEA;

  h4, h5, h6, {
    color: #414141;
  }

  b {
    color: #4E4E4E;
  }

  h1 {
    margin: 0em 30px;
    font-size: 2.4em;
    font-weight: 500;
    color: #0092CB;
  }

  h2 {
    font-size: 1.8em;
    font-weight: 600;
    color: #494949;
    margin: 1em;
  }

  h3 {
    font-size: 1.5em;
    margin: 1em 0;
    font-weight: 600;
    color: #4C4C4C;
  }

  ul {
    line-height: 1.6em;
  }

  a.button.read-more {
    border-radius: 3px;
    padding: 1em 1.2em;
    // background: $green;
    background: #00A3D9DD;
    color: #FFF;
    font-size: 0.85em;
    margin-top: 1em;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;

    span.arrow {
      font-size: 1.1em;
      margin-left: 0.4em;
    }
  }

  a.button.read-more:hover {
    cursor: pointer;
    background: $green_2;
  }

  p {
    line-height: 1.5em;
  }


}

.latest-article-summary-text {
  color: #0F0F0F;
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 1em;
}

.latest-article-summary-date-container {
  display: flex;
  background: #DDD;
  border-radius: 4px;
  padding: 0.5em 1em;
}

.latest-article-summary-info {
  margin-left: 30px;
  display: flex;
  font-weight: 400;
  color: #454545;
  font-size: 85%;
  margin-top: 1em;
}

.latest-article-summary-date {
  font-weight: 400;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  background: #EAEAEA;
  margin-right: 1px;
  padding: 0.5em 1em;

  span.published {
    margin-right: 0.3em;
  }

  span.date {
  }
}

.latest-article-summary-author {
  background: #EAEAEA;
  margin-right: 1px;
  padding: 0.5em 1em;

  .author-label {
    margin-right: 0.3em;
  }
}

.latest-article-summary-wc {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  background: #EAEAEA;
  padding: 0.5em 1em;

  .wc-label {
    margin-left: 0.3em;
  }
}


.past-articles-container {
  display: flex;
  flex-direction: column;
  //background: #F5F5F5;
  background: #E7EAEE;
  border-top: 1px solid #E0E0E0;
}



.past-articles-header {
  padding: 1em 30px;
  margin-bottom: 0.5em;
  border-radius: 3px;
  display: flex;
  align-items: baseline;

  h2 {
    margin: 0;
    font-weight: 600;
    font-size: 1em;
    color: #3a3a3a;
  }
  
  .article-count {
    font-weight: 400;
    color: #6C6C6C;
    font-size: 1.3em;
  }
}

.past-articles {
  width: 760px;

  > h2 {
    margin: 0;
    color: #6F4078;
    font-weight: 400;
  }

  a {
    text-decoration: none;
  }
}


.article-summary {
  display: flex;
  justify-content: start;
  border-bottom: 1px dotted #c6c6c6;
  padding: 1em 0;

  .article-summary-title {
    font-size: 1.1em;
    font-weight: 400;
    color: #0075A2;
    padding-left: 30px;
  }

  .article-summary-date {
    font-size: 0.95em;
    width: 190px;
    padding-left: 30px;
    font-weight: 600;
    color: #414141;
  }
}


// .article-summary:hover {
//   cursor: pointer;
//   border: 1px solid #CCC;
// }
