
@import "variables.scss";

.latest-article-summary-container {
  display: flex;
  justify-content: center;
}


.latest-article-summary {
  width: 760px;
  padding: 1em 0 2em 0;
  font-size: 97%;

  h4, h5, h6, {
    color: #414141;
  }

  b {
    color: #4E4E4E;
  }

  h1 {
    margin: 0.6em 0;
    font-size: 2.4em;
    font-weight: 400;
    //color: #323232;
    color: #515151;
  }

  h2 {
    font-size: 1.8em;
    font-weight: 400;
    color: #494949;
    margin: 1.2em 0 0.3em 0;
  }

  h3 {
    font-size: 1.5em;
    margin: 1em 0;
    font-weight: 400;
    color: #4C4C4C;
  }

  ul {
    line-height: 1.6em;
  }

  a.button.read-more {
    border-radius: 3px;
    padding: 1em 1.2em;
    background: #00AE71;
    color: #FFF;
    font-size: 0.85em;
    margin-top: 1em;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;

    span.arrow {
      font-size: 1.1em;
      margin-left: 0.4em;
    }
  }

  a.button.read-more:hover {
    cursor: pointer;
    background: #009460;
  }


}

.latest-article-summary-text {
  color: #393939;
  // border-bottom: 1px solid #bbb;
  // padding-bottom: 1em;
}

.latest-article-summary-date {
  color: #757575;
  padding: 0.7em;
  margin-bottom: 1.5em;
  background: #f9f9f9;
  border-radius: 1px;
  font-size: 0.9em;

  span.published {
    margin-right: 0.3em;
  }

  span.date {
    color: #006da5cc;
  }
}


.past-articles-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em 0;
  background: #F2F2F2;
  border-top: 1px solid #E0E0E0;
}



.past-articles-header {
  background: #EAEAEA;
  padding: 0.7em 0.5em 0.7em 0.5em;
  margin-bottom: 0.5em;
  border-radius: 3px;
  width: 760px;
  display: flex;
  align-items: baseline;

  h2 {
    margin: 0;
    font-weight: 600;
    font-size: 1em;
    color: #3a3a3a;
  }
  
  .article-count {
    margin-left: 0.5em;
    color: #444;
  }
}

.past-articles {
  width: 760px;

  > h2 {
    margin: 0;
    color: #6F4078;
    font-weight: 400;
  }

  a {
    text-decoration: none;
  }
}


.article-summary {
  display: flex;
  justify-content: space-between;
  margin: 1.5em 0;
  border-bottom: 1px dotted #c6c6c6;
  padding-bottom: 0.5em;

  .article-summary-title {
    font-size: 1.1em;
    font-weight: 600;
    color: #006da5;
  }

  .article-summary-date {
    color: #616161;
    font-size: 0.95em;
  }
}


// .article-summary:hover {
//   cursor: pointer;
//   border: 1px solid #CCC;
// }
