

@import "variables.scss";


body {
  background-color: #FFFFFF;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;

}

a {
  color: #008EC5;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#content {
  // border-top: 1px solid #1F2C3B;
}


.page-header {
  display: flex;
  background: #FFF;
  padding: 0em 30px;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #D6D6D6;
  height: 50px;
  justify-content: flex-start;
//   box-shadow: 0px 2px 14px #DDD;

}

.page-header-left {
  display: flex;
  align-items: center;

  a.home-nav {
    font-weight: 600;
    display: inline-flex;
    width: 190px;
    color: #333;
    text-decoration: none;
  }
}

.page-header-nav-button {

  display: flex;
  align-items: center;

  svg {
    width: 1.1em;
    height: 1.1em;
    margin-right: 0.5em;
    margin-left: 2px;
  }
  
}


.page-header-nav-button:hover {
  // color: #008EC5;
  // fill: #008EC5;
  //
}


#page-home-nav {
  display: flex;
  padding-left: 30px;

  a {
    border: 1px solid #dadde0;
    border-radius: 14px;
    padding: 0.5em 1em;
    font-size: 0.9em;
    text-decoration: none;
    color: #555;
    margin-right: 1.5em;
  }

  a:hover {
    border: 1px solid #008EC5;
  }
}


.page-header-center {

  a.article-nav {
    display: flex;
    font-size: 1.1em;
    padding: 0 1em;

    .article-title {
      font-weight: 600;
    }

    .divider {
      color: #BBB;
      margin: 0 0.4em;
    }

    .article-date {
      color: #E8E8E8;
      font-size: 0.9em;
    }
  }

}


.page-header-right {
  flex: 1;
  display: flex;
  justify-content: right;
  font-size: 0.9em;

  a {
    margin-left: 2em;
    color: #535353;
  }

  a:hover {
    color: #434343;
  }

}



