

@import "variables.scss";


body {
  background-color: #FFFFFF;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;

}

a {
 //  color: $primary;
  color: #0083B7;
}

#content {
  // border-top: 1px solid #1F2C3B;
}


.page-header {
  display: flex;
  background: #FFF;
  padding: 0em 30px;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #D6D6D6;

  a {
    color: #333;
    text-decoration: none;
    // border-top: 5px solid #39506B;
    // border-bottom: 5px solid #39506B;
    height: 50px;
    display: flex;
    align-items: center;
  }

  a.selected {
    // border-top: 5px solid #39506B;
    // border-bottom: 5px solid #82B7F5;
  }



}

.page-header-left {
  flex: 1;

  a.home-nav {
    font-weight: 700;
    display: inline-flex;
  }
}


.page-header-center {

  a.article-nav {
    display: flex;
    font-size: 1.1em;
    padding: 0 1em;

    .article-title {
      font-weight: 600;
    }

    .divider {
      color: #BBB;
      margin: 0 0.4em;
    }

    .article-date {
      color: #E8E8E8;
      font-size: 0.9em;
    }
  }

}


.page-header-right {
  flex: 1;
  display: flex;
  justify-content: right;
  font-size: 0.9em;

  a {
    margin-left: 2em;
    color: #535353;
  }

  a:hover {
    color: #434343;
  }

}



