

@import "variables.scss";


body {
  background-color: #FFFFFF;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;

}

a {
  color: #006DA5;
}

#content {
  // border-top: 1px solid #1F2C3B;
}


.page-header {
  display: flex;
  //background: #39506b;
  background: #006da5;
  padding: 0em 1.5em;
  position: sticky;
  top: 0;

  a {
    color: #FFFFFF;
    text-decoration: none;
    // border-top: 5px solid #39506B;
    // border-bottom: 5px solid #39506B;
    height: 50px;
    display: flex;
    align-items: center;
  }

  a.selected {
    // border-top: 5px solid #39506B;
    // border-bottom: 5px solid #82B7F5;
  }

}

.page-header-left {
  flex: 1;

  a.home-nav {
    font-weight: 700;
    display: inline-flex;
  }
}


.page-header-center {

  a.article-nav {
    display: inline-flex;
    font-size: 1.2em;
    padding: 0 1em;

    .article-title {
      font-weight: 600;
    }

    .article-date {
      margin: 0 0 0 4em;
      color: #D1D1D1;
      font-size: 0.9em;
    }
  }

}


.page-header-right {
  flex: 1;
  display: flex;
  justify-content: right;
  font-size: 0.9em;

  a {
    margin-left: 2em;
    color: #E7E7E7;
  }

  a:hover {
    color: #F7F7F7;
  }

}



