
@import "variables.scss";

#tutorial-header {

    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #455055;

    color: #414141;

    #breadcrumbs {
      display: flex;
      flex-direction: row;
      justify-content: center;
      font-size: 1.05em;

      .category {
        color: #F2F2F2;
      }

      .tutorial {
        color: #F2F2F2;
      }

      .path-segment {
        color: #EAEAEA;
      }

      .path-segment-divider img {
        width: 1em;
        height: 1em;
        margin-left: 0.3em;
        margin-right: 0.3em;
      }
   }
}


// -----------------------------------------------------------------------------
// GETTING STARTED HEADER
// -----------------------------------------------------------------------------

#getting-started-header {
  // padding-top: 2em;
  // padding-bottom: 2em;
  background-color: #455055;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  height: 70px;
 //  font-family: AvenirLTStd-Book, sans-serif;
  font-family: AvenirNextLTPro-Regular, sans-serif;
  z-index: 10000;
}


#getting-started-header-nav {
  font-size: 1.05em;
 //  color: #BDBDBD;
  color: #B2D0DB;
}


#getting-started-header-nav .button {
  margin-left: 0.4em;
  margin-right: 0.4em;
  //color: #EAEAEA;
  color: #C7E8F5;
  border: 1px solid #5B6A70;
  padding: 7px 8px 5px 8px;
  border-radius: 4px;
  font-size: 0.93em;
}


#getting-started-header-nav .game.button:hover {
  //border: 1px solid #D8D8B5;
  // border: 1px solid #C7E8F5;
  border: 1px solid #6A7B82;
  cursor: pointer;
}


#getting-started-header-nav .platform.button:hover {
  //border: 1px solid #C7E8F5;
  border: 1px solid #6A7B82;
  cursor: pointer;
}


// -----------------------------------------------------------------------------
// LESSON HEADER
// -----------------------------------------------------------------------------

#site-lesson-header {
  background-color: #455055;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  height: 70px;

  #site-lesson-breadcrumbs {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.85em;
  }


  #site-lesson-breadcrumbs-tutorial {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #68797F;
    padding: 0.3em 0.5em;
    border-radius: 4px;

    svg {
      width: 1.5em;
      height: 1.5em;
      margin-right: 0.3em;

      path {
        //fill: #AAC6D1;
        fill: #B2D0DB;
      }
    }

    // img {
    //   width: 1.2em;
    //   height: 1.2em;
    //   margin-left: 0.5em;
    //   margin-right: 0.5em;
    //   padding-top: 1px;
    // }

    span.tutorial {
      // color: #D2D2D2;
     // color: #AAC6D1;
      color: #B2D0DB;
    }
  }


  #site-lesson-breadcrumbs-tutorial:hover {
    border: 1px solid #72848C;
    cursor: pointer;
  }

  #site-lesson-breadcrumbs-tutorial span:hover {
    //color: #FFF;
    color: #C7E8F5;
  }


  #site-lesson-breadcrumbs-path {
    display: flex;
    flex-direction: row;
    align-items: center;

    svg {
      width: 1.2em;
      height: 1.2em;
      margin-left: 0.5em;
      margin-right: 0.5em;
      padding-top: 1px;

      path {
        fill: #8BA2AB;
      }
    }

    .path-segment {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .path-segment > span {
      //color: #AAC6D1;
      color: #B2D0DB;
    }

    .path-segment > span:hover {
      cursor: pointer;
      color: #BAD9E5;
    }
  }


  #site-lesson-breadcrumbs-title {
    display: flex;
    flex-direction: row;
    align-items: center;

    svg {
      width: 1.2em;
      height: 1.2em;
      margin-left: 0.5em;
      margin-right: 0.5em;
      padding-top: 1px;
      path {
        fill: #8BA2AB;
      }
    }

    span {
      //color: #AAC6D1;
      color: #B2D0DB;
    }
  }

  #site-lesson-breadcrumbs-title > span:hover {
    cursor: pointer;
    //color: #F7F7F7;
    color: #BAD9E5;
  }

}


#tutorial-context {
  font-size: 1.1em;
}

#tutorial-game-button {
  display: flex;
  align-items: center;
  margin-right: 1em;

  img {
    width: 1.3em;
    height: 1.3em;
  }

  .game-selection {
    margin-left: 0.4em;
  }

}

#tutorial-medium-button {
  display: flex;
  align-items: center;
  margin-left: 1em;

  img {
    width: 1.6em;
    height: 1.6em;
  }

  .medium-selection {
    margin-left: 0.35em;
  }
}

#tutorial-context {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


#lesson {
  border-top: 1px solid #DDDDDD;
  background-color: $light-grey;
}


#lesson-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


#lesson-content {
  padding-left: 2em;
  padding-top: 25px;
  background-color: $light-grey;
  font-family: 'Lato', sans-serif;
  width: 950px;
}


#lesson-title {

  margin-bottom: 2em;

  h1 {
    font-size: 2em;
    color: #494949;
    font-weight: 700;
  }
}


#lesson-body {
  color: #3C3C3C;
  line-height: 1.3em;
  //font-size: 1.17em;

  code {
    font-family: 'Source Code Pro', monospace;
  }

  h2 {
    font-size: 1.6em;
    color: #323232;
  }

  .introduction {
    display: flex;
    margin-bottom: 2em;
    align-items: flex-start;
    justify-content: space-between;

    h2 {
      font-size: 1.6em;
      color: #323232;
      margin-bottom: 0.6em;
      margin-top: 1em;
    }

    h3 {
      font-size: 1.4em;
      color: #353535;
      margin-bottom: 0.6em;
    }

    .body {

      width: 700px;

      a {
        text-decoration: none;
        color: #085B7E;
      }

      a:hover {
        text-decoration: underline;
      }

      p:not(:first-child) {
        margin-top: 1em;
      }

      figure {
        margin-top: 2em;
        margin-bottom: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;

        figcaption {
          padding: 0.7em;
          background: #FFF;
          color: #333;
          border: 1px solid #E8E8E8;
          margin-top: 1em;
        }
      }

    }


    .index {
      font-size: 0.84em;
      margin-left: 3em;
      border: 1px solid #E1E1E1;
      border-radius: 5px;
      background: #FAFAFA;
      font-family: 'Noto Sans', 'Lato', sans-serif;

      ul {
      }

      li {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-left: 1.2em;
        padding-right: 1.2em;
        border-bottom: 1px solid #E1E1E1;
      }

      li.scenario a {
        color: #555;
        font-weight: 700;
        text-decoration: none;
      }

      li.step a {
        color: #555;
        text-decoration: none;
      }

      li:hover {
        background: #EFEFEF;
        cursor: pointer;

        a {
       //   color: #375f84;
          color: #2774AC;
        }
      }
    }
  }

  span.note {
    display: block;
    margin-top: 1.5em;
    background: #ECDFDF;
    padding: 0.7em;
    font-size: 0.97em;
    color: #864242;
  }

}


#lesson-body > .scenario {
  padding-top: 2em;
  border-top: 1px solid #DDD;
}


.scenario > header {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1em;
  margin-bottom: 1.5em;

  .body {
    width: 700px;

    code {
      background: #EDEDED;
      padding-left: 0.4em;
      padding-right: 0.4em;
      color: #070707;
      border-radius: 1px;
      font-size: 0.95em;
    }

    p:not(:first-child) {
      margin-top: 1em;
    }

    a {
      text-decoration: none;
      color: #085B7E;
    }

    a:hover {
      text-decoration: underline;
    }

    
  }

  .examples {
    margin-left: 2em;
  }

}

.steps > .step {

  background: $very-light-grey;
  border-radius: 2px;
  margin-bottom: 2em;
 //  box-shadow: 0 1px 1px #B4B4B4;
  border: 1px solid #EAEAEA;

  h3 {
    // font-size: 1.15em;
    // color: #323232;
    font-size: 1.1em;
    color: #474747;
    font-weight: 700;
  }

  .header {
    padding-left: 1.5em;
    border-bottom: 1px solid #E8E8E8;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;

    .title {
      width: 900px;
    }


    
  }

  .code-examples {
    background: #343C40;
    margin-top: 1em;
  }

  .code-example {
    padding-top: 1em;
    padding-bottom: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    color: #E7E7E7;

    code {
      font-size: 0.9em;
    }
  }

  .code-example > header {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #455055;
    margin-bottom: 0.5em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;

    h6 {
      font-weight: 700;
      font-size: 0.95em;
    }

    .button {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 2em;
      color: #CCC;
      font-size: 0.87em;

      svg {
        width: 1.2em;
        height: 1.2em;
        margin-right: 0.3em;
      }

      .icon-download-file {
        fill: #BBB;
      }

      .icon-download-file.selected {
        fill: #FFF;
      }

      .icon-copy {
        fill: #BBB;
      }

      .icon-copy.selected {
        fill: #FFF;
      }
    }

    .button:hover {
      cursor: pointer;
      color: #FFF;
    }


  }


}


.step > .content {
  display: flex;
  flex-direction: row;
}


.step > .content > .left {
  max-width: 700px;

  .title {
    border-bottom: 1px solid #EAEAEA;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 1.5em;
  }


  .text {
    color: #444;
    padding-left: 1.5em;

    p {
      margin-top: 1em;
    }

    code {
      background: #EDEDED;
      padding-left: 0.4em;
      padding-right: 0.4em;
      color: #070707;
      border-radius: 1px;
      font-size: 0.95em;
    }

    a {
      text-decoration: none;
      color: #085B7E;
    }

    a:hover {
      text-decoration: underline;
    }

  }


}


.step > .content > .right {

  .tabs {
    display: flex;
    flex-direction: row;
    flex: 1;
    height: 50px;
    border-bottom: 1px solid #EAEAEA;
    justify-content: center;

    .tab {
      // border-bottom: 2px solid $very-light-grey;
      padding-bottom: 1em;
      padding-top: 1em;
      width: 3em;
      color: #666;
      font-weight: 700;
      text-align: center;
    }

    .tab:hover {
      cursor: pointer;
    }

    .tab.selected {
      // border-bottom: 2px solid #2d69a1;
      color: #2d69a1;
    }
  }


  .images {
    display: flex;
    justify-content: center;
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .images > img {
    //max-width: 100%;
    height: 25em;
    display: none;
    //padding: 4px;
    //border: 1px solid #e3e3e3;
  }

  .images > img.selected {
    display: block;
  }

}

// .step > .content > .text {
//   margin-right: 40px;
// }

.yaml-examples {
  margin-right: 2em;
  flex: 1;
}



#lesson-index {
  width: 320px;
  padding-bottom: 1em;
  margin-top: 15px;
  border-right: 4px solid #E3E3E3;
  font-size: 0.85em;
}


#lesson-index-header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  font-size: 0.9em;
  margin-top: 10px;
  border-radius: 3px;
  background: $medium-grey;
  border: 1px solid #D9D9D9;
  margin-right: 0.8em;
  font-weight: 700;
  box-shadow: 0 1px 0px #C4C4C4;
  position: sticky;
  top: 95px;
  height: 28px;
  
  a {
    color: #747474;
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}



#lesson-prev-button {
  flex: 2;
  // padding-top: 0.65em;
  // padding-bottom: 0.65em;
  border-right: 1px solid #D9D9D9;

  svg {
    width: 0.85em;
    height: 0.85em;
    margin-right: 0.2em;
    path {
      fill: #6B6B6B;
    }
  }
}

#lesson-prev-button:hover {
  background: #E7E7E7;
  cursor: pointer;
}


#lesson-next-button {
  flex: 2;

  svg {
    width: 0.85em;
    height: 0.85em;
    margin-left: 0.2em;

    path {
      fill: #6B6B6B;
    }
  }
}

#lesson-next-button:hover {
  background: #E7E7E7;
  cursor: pointer;
}

#lesson-up-button {
  flex: 1;
  // padding-top: 0.65em;
  // padding-bottom: 0.65em;
  border-right: 1px solid #D9D9D9;
}

#lesson-up-button:hover {
  background: #E7E7E7;
  cursor: pointer;
}



#lesson-index-list {

  // padding-left: 1.5em;
  //font-size: 0.97em;
  margin-top: 15px;
  position: sticky;
  top: 138px; 
  margin-left: 0.1em;

  a {
    color: #555555;
    text-decoration: none;
  }

  a:hover {
    cursor: pointer;
    // text-decoration: underline;
    //color: #1D1D1D;
    color: #375f84;
  }

  li.node {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-right: 1em;
  }

  li.node.selected a {
    font-weight: 600;
    //color: #375f84;
    color: #2774AC;
  }

  li.node.level-one {
    //border-bottom: 1px solid #EAEAEA;
    padding-top: 1.1em;
  }

  li.node.level-two {
    padding-left: 0.7em;
  }

  li.node.level-three {
    padding-left: 1.4em;
  }

  li.node.level-four {
    padding-left: 2.1em;
  }

  li.node.level-five {
    padding-left: 2.8em;
  }

}
