*.hi
*.o
*.swp
*.tag
*~
*_flymake.hs
.hsenv
.stack-work/
/.cabal-sandbox/
TAGS
cabal-dev/
cabal.sandbox.config
dist/
tags
/_release/
.vagrant/
*.imports
/.idea/
/*.iml
/src/highlight.js
/src/style.css
/_site/
/.dir-locals.el
/assets/css
deploy/docker/web/css/
deploy/docker/web/fonts/
deploy/docker/web/js/
deploy/docker/web/svg/
deploy/docker/web/run
.sass-cache/
