#docs > .header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3em;
  padding-bottom: 3em;
  background: #455055; }
  #docs > .header-container .header {
    width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center; }
    #docs > .header-container .header .title {
      font-family: AvenirNextLTPro-Heavy;
      font-size: 3em;
      color: #DFDFDF;
      margin-right: 30px;
      width: 370px; }
    #docs > .header-container .header .summary {
      font-size: 1em;
      color: #E3E3E3;
      line-height: 1.7em;
      font-family: AvenirNextLTPro-Regular;
      width: 700px; }
      #docs > .header-container .header .summary a {
        color: #8bbbc9;
        font-weight: 700; }
      #docs > .header-container .header .summary a:hover {
        text-decoration: underline;
        cursor: pointer; }

#docs > .docs-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F2F2F2; }

#docs > .docs-content > .section {
  width: 1200px; }
  #docs > .docs-content > .section .header {
    font-size: 1.6em;
    color: #222222;
    margin-top: 2em; }
  #docs > .docs-content > .section .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  #docs > .docs-content > .section .row {
    display: flex; }
  #docs > .docs-content > .section .schema {
    width: 280px;
    background: #FBFBFB;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 2px;
    border: 1px solid #E2E2E2;
    margin-top: 1.6em;
    padding-top: 15px; }
    #docs > .docs-content > .section .schema .title {
      font-size: 1.1em;
      margin-bottom: 1em;
      font-weight: 700;
      color: #494949;
      display: inline-block;
      padding-left: 1em;
      padding-right: 1em; }
    #docs > .docs-content > .section .schema .description {
      margin-bottom: 1em;
      color: #585858;
      line-height: 1.2em;
      padding-left: 1em;
      padding-right: 1em;
      font-size: 0.9em; }
    #docs > .docs-content > .section .schema .buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding-bottom: 1em;
      padding-top: 1em;
      border-top: 1px solid #EAEAEA; }
    #docs > .docs-content > .section .schema a.button {
      background: #FEFEFE;
      color: #222;
      font-size: 0.9em;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      padding: 4px 5px 4px 4px; }
      #docs > .docs-content > .section .schema a.button svg {
        width: 2em;
        height: 2em;
        margin-right: 0.3em; }
    #docs > .docs-content > .section .schema a.button.html {
      background: #EAEAEA;
      border-radius: 5px; }
    #docs > .docs-content > .section .schema a.button:hover {
      cursor: pointer;
      color: #35729E; }
      #docs > .docs-content > .section .schema a.button:hover path {
        fill: #35729E; }

/*# sourceMappingURL=docs.css.map */
