display
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/******************************************************************************/
/*****                              VARIABLES                             *****/
/******************************************************************************/
/***** GENERAL *****/
body {
  background: #F2F2F2;
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  cursor: pointer; }

#schema {
  display: flex;
  height: 100vh; }

#content {
  flex: 1 1 auto;
  overflow: auto;
  border-left: 1px solid #DFDFDF; }

#content > header {
  width: 100%;
  display: flex; }

#content > header > .display .buttons {
  position: fixed;
  height: 55px;
  display: flex;
  align-items: center;
  padding-left: 1.5em;
  background: #212529;
  width: 100%; }
  #content > header > .display .buttons .button {
    margin-right: 2em;
    color: #E8E8E8;
    font-size: 0.85em;
    padding: 0.55em; }
  #content > header > .display .buttons .button:hover {
    cursor: pointer; }
  #content > header > .display .buttons .button.selected {
    color: #51a1de; }

/***** SIDEBAR *****/
#version {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0px;
  font-size: 0.88em;
  color: #F8F8F8;
  background: #373B3F;
  z-index: 10000; }
  #version .version {
    margin-left: 5px;
    margin-right: 5px; }
  #version .caret {
    font-size: 10px;
    padding-bottom: 0.1em;
    display: none; }

#introduction-sections.closed {
  display: none; }

#introduction-sections.open {
  display: block; }

#index-types.closed {
  display: none; }

#index-types.open {
  display: block; }

#index-constraints.closed {
  display: none; }

#index-constraints.open {
  display: block; }

#sidebar {
  /* 12em is the width of the columns */
  flex: 1 0 16em;
  overflow-y: auto;
  margin-right: 0;
  background-color: #E8E8E8;
  padding-right: 0.1em; }

#index a:hover {
  color: #106aaf; }

#sidebar ul li {
  padding-left: 22px; }

#index .section-header {
  padding-left: 22px;
  font-size: 1.15em;
  background: #E8E8E8;
  border-bottom: 1px solid #CCC;
  position: sticky;
  top: 40px;
  color: #222;
  height: 60px;
  display: flex;
  align-items: center; }
  #index .section-header .caret {
    font-size: 0.7em;
    color: #565656;
    margin-right: 0.5em; }

#index h2 a {
  color: #3C3C3C; }

#index .section:hover {
  cursor: pointer; }

#index .subsection-header a {
  font-size: 1.05em;
  padding-left: 22px;
  display: flex;
  align-items: center;
  height: 100%;
  color: #464646; }

#index .subsection-header a:hover {
  color: #106aaf; }

#index .subsection-header {
  height: 45px; }

#index .subsection-header:hover {
  background: #DDDDDD;
  cursor: pointer;
  color: #106aaf; }

#index li {
  height: 45px; }

#index li a {
  font-size: 0.95em;
  height: 100%;
  display: flex;
  align-items: center;
  color: #616161; }

#index li:hover {
  background: #DDDDDD;
  cursor: pointer;
  color: #106aaf; }

.type {
  display: flex; }

#description .title {
  margin-bottom: 2em; }
  #description .title h1 {
    font-size: 1.8em;
    font-weight: 700;
    color: #444; }

#content .definition {
  width: 52%;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #F4F4F4; }

#content .display {
  width: 48%;
  background-color: #2A2E32; }

#description {
  display: flex; }

#description .definition {
  border-bottom: 1px solid #DDD;
  padding-top: 1.5em;
  padding-bottom: 1.5em; }

#description h2 {
  font-size: 1.7em;
  color: #4C4C4C; }

#description .introduction .overview {
  margin-top: 1em; }
  #description .introduction .overview p:not(:first-child) {
    margin-top: 1em; }
  #description .introduction .overview p {
    font-size: 1em;
    color: #383838;
    line-height: 1.3em; }
    #description .introduction .overview p a {
      text-decoration: none;
      color: #106aaf; }
    #description .introduction .overview p a:hover {
      text-decoration: underline; }

.type .definition {
  padding-bottom: 2em;
  z-index: 1000;
  padding-top: 1.2em; }

.type .examples {
  padding-left: 1.5em;
  padding-right: 1.5em; }
  .type .examples h3 {
    color: #9A9A9A;
    font-size: 1.3em; }
  .type .examples .use_case {
    margin-top: 2em;
    margin-bottom: 2em; }
    .type .examples .use_case .example {
      display: none; }
    .type .examples .use_case .example.selected {
      display: block;
      margin-bottom: 2em; }
      .type .examples .use_case .example.selected p {
        color: #878787;
        margin-top: 0.7em;
        margin-bottom: 0.7em;
        font-size: 0.97em; }
    .type .examples .use_case h4 {
      font-weight: 700;
      color: #C7C7C7; }
    .type .examples .use_case pre {
      background: #272B2F;
      padding: 1.5em;
      color: #BBB;
      margin-top: 0.6em;
      font-family: 'Source Code Pro', monospace;
      font-size: 0.87em;
      line-height: 1.3em;
      border-radius: 0.2em; }

.section-header {
  display: flex; }

#types .group :last-child .definition {
  border-bottom: 1px solid #DDD; }

.section-header .definition {
  padding-top: 20px; }

.section-header .display {
  background-color: #252525;
  padding-top: 20px; }

#types .definition > h2 {
  font-size: 1.4em;
  color: #717171; }

.type .definition h3 {
  font-size: 1.7em;
  color: #383838; }

#types figcaption, #description figcaption {
  background: #FEFEFE;
  padding: 1em 2em;
  font-size: 0.9em;
  line-height: 1.1em;
  color: #4A4A4A;
  margin-top: 1em; }

#types figure, #description figure {
  margin-top: 1em;
  width: 100%;
  background: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1em;
  border: 1px solid #D8D8D8; }

.type .definition .constraints {
  margin-top: 1em;
  margin-bottom: 1em;
  border-top: 1px solid #DDD; }

.type .constraint ul {
  margin-top: 1em; }

.type .constraint li {
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 3px;
  padding: 0.4em;
  display: inline-block; }

.type .definition p {
  padding-top: 1.1em;
  color: #444444;
  font-size: 1em;
  line-height: 1.2em; }
  .type .definition p a {
    text-decoration: none;
    color: #106aaf; }
  .type .definition p a:hover {
    text-decoration: underline; }

.type > .definition h4 {
  color: #FFFFFF;
  font-size: 0.9em;
  font-weight: 700;
  background: #545B63;
  padding: 0.6em;
  display: inline-block;
  margin-left: 0.1em;
  border-radius: 8px;
  margin-top: 1em; }
  .type > .definition h4 .extends {
    font-weight: 400;
    color: #EEEEEE;
    margin-right: 0.3em; }

.type > .definition .description h4 {
  background: none;
  color: #3D3D3D;
  font-weight: normal;
  padding: 0;
  font-size: 1.3em;
  margin: 1em 0 0 0; }

.type > .definition h4.constraint {
  font-weight: 400;
  color: #f9b9fa; }

.fields ul {
  margin-top: 1em; }

.fields {
  margin-top: 1em; }

.field {
  background-color: #FFFFFF;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  margin-bottom: 0.6em;
  border-radius: 2px;
  border: 1px solid #EAEAEA; }

.field header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.8em;
  padding-right: 0.8em;
  padding-bottom: 0.8em;
  border-bottom: 1px solid #EFEFEF; }
  .field header .name {
    font-size: 1.05em; }
  .field header .type span {
    color: #555;
    margin-right: 0.3em; }
  .field header .type .primitive {
    color: #49ae74; }
  .field header a {
    color: #106aaf; }
  .field header a:hover {
    text-decoration: underline; }

.field > .presence {
  font-size: 0.9em;
  color: #777;
  padding-left: 0.8em;
  padding-right: 0.8em;
  padding-bottom: 0.8em; }

.field > .type {
  margin-top: 0.8em;
  font-size: 0.95em;
  padding-left: 0.8em;
  padding-right: 0.8em; }

.field > .description {
  margin-top: 0.8em;
  font-size: 0.95em;
  color: #515151;
  padding-left: 0.8em;
  padding-right: 0.8em;
  line-height: 1.15em; }

.cases {
  margin-top: 1em; }

.cases h4 {
  color: #515151;
  font-size: 1.1em;
  font-weight: 500; }

.cases > ul {
  margin-top: 1em; }

.case {
  background-color: #FFFFFF;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  border-radius: 2px;
  margin-bottom: 0.6em; }
  .case .type {
    padding-left: 0.8em;
    padding-right: 0.8em; }
    .case .type a {
      color: #106aaf; }
    .case .type a:hover {
      text-decoration: underline; }
  .case .case-description {
    font-size: 0.95em;
    color: #444;
    padding-left: 0.8em;
    padding-right: 0.8em; }

.type .display {
  width: 48%;
  background-color: #252525; }

.hljs {
  display: block;
  overflow-x: auto; }

.hljs {
  color: #C8C8C8; }

.hljs-strong,
.hljs-emphasis {
  color: #a8a8a2; }

.hljs-bullet,
.hljs-quote,
.hljs-link,
.hljs-number,
.hljs-regexp,
.hljs-literal {
  color: #b5dedd; }

.hljs-code,
.hljs-selector-class {
  color: #a6e22e; }

.hljs-emphasis {
  font-style: italic; }

.hljs-keyword,
.hljs-selector-tag,
.hljs-section,
.hljs-attribute,
.hljs-name,
.hljs-variable {
  color: #ffc459; }

.hljs-params {
  color: #b9b9b9; }

.hljs-string {
  color: #badeb5; }

.hljs-subst,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-symbol,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-template-tag,
.hljs-template-variable,
.hljs-addition {
  color: #fffb91; }

.hljs-comment,
.hljs-deletion,
.hljs-meta {
  color: #7f7f7f; }

/*# sourceMappingURL=schema.css.map */
